  .contentText {
      text-align: center;
      margin: 60px auto;
  }

  .contentText h2 {
    color: #3F3C4D !important;
  }

  .options {
      display: none;
  }

  .lightTitle {
    font-family: 'CIBFontSans-Light';
    margin-left: 12px;
  }

  .active {
      display: block;
  }

  .placeHolderElement {
      pointer-events: none;
  }

  .elementSelect {
      position: relative;
      cursor: pointer;
  }

  .options.active {
    position: absolute;
    width: 100%;
    background: #FFF;
    z-index: 9;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
    padding: 20px;
  }

  .optionEelement {
    cursor: pointer;
  }

  .optionEelement>div {
      
      padding: 10px 0;
      border-bottom: 1px solid rgba(241, 241, 241, 1);
  }

  .optionEelement>div p {
      margin: 0;
      transition: .3s ease all;
      text-transform: capitalize;
  }

  .optionEelement:hover>div p {
      font-size: 17px;
  }

  .filtrosSelectores {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    column-gap: 2rem;
  }

  .filtrosSelectores {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  .placeHolderElement {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    border-bottom: 1px solid;
    position: relative;
  }

  .placeHolderElement svg {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }

  #filterNew {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      padding: 50px 0;
      zoom: 80%;
      min-height: min-content !important;
  }

  .itemFilter {
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
    min-height: 360px;
    max-height: 380px;
  }

  .headItem {
    background: rgba(241, 241, 241, 1);
    display: grid;
    grid-template-columns: .4fr 1.1fr;
    min-height: 85px;
  }

  .iconHead {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .itemIcon {
    background: #FFF;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  }

  .tituloHead {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .tituloHead .titulo {
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    margin-bottom: 0;
    letter-spacing: -0.3px;
  }

  .tituloHead p {
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    letter-spacing: -0.3px;
    /* sufi/gris-oscuro */
    color: #3F3C4D;
    margin: 0;
  }

  .bodyItem {
    position: relative;
    height: calc(100% - 85px);
  }

  .bodyItem .content {
      padding: 20px;
  }

  .bodyItem p, .bodyItem a {
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    letter-spacing: -0.3px;
    /* sufi/gris-oscuro */
    color: #3F3C4D;   
  }

  .bodyItem a  {
    text-decoration: underline;
  }

  .bodyItem h6 {
    font-size: 18px;
    line-height: 20px;
    /* or 111% */

    letter-spacing: -0.3px;
  }

  .marcas {
      padding: 0 20px;
      margin: 0;
      position: absolute;
      bottom: 0;
  }

  .cantidad {
      display: flex;
  }

  .cantidad h6 {
      font-size: 18px;
      line-height: 20px;
    /* or 111% */

    letter-spacing: -0.3px;
  }

  .contenedorFiltros {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
  }

  .contenedorFiltros>div {
      font-size: 18px;
      pointer-events: none;
  }

  .contenedorFiltros svg {
      margin-left: 10px;
      pointer-events: none;
  }

  #tagsFilters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
  }

  .jp-previous {
      margin: 0 20px !important;
      background: rgba(221, 53, 66, 1);
      border-radius: 50%;
      width: 38px;
      height: 38px;

  }

  .jp-next {
      margin: 0 20px !important;
      background: rgba(221, 53, 66, 1);
      border-radius: 50%;
      width: 38px;
      height: 38px;
  }

  .jp-previous svg {
      pointer-events: none;
  }

  .jp-next svg {
    transform: rotate(180deg);
    pointer-events: none;
  }

  #pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0;
      margin-top: 0;
  }

  #pagination a {
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(63, 60, 77, 1);
      cursor: pointer;
      font-size: 16px;

  }

  #pagination a.jp-current {
      font-weight: bold;
  }

  @media (max-width: 768px) {
    #filterNew {
        grid-template-columns: 1fr;
        zoom: 100%;
    }

    .itemFilter {
      min-height: 340px;
      max-height: 340px;
    }

    .filtrosSelectores {
        grid-template-columns: 1fr;
    }

    .filtrosSelectores>div {
        margin-top: 30px;
    }

    .filtrosSelectores button {
        margin-top: 30px;
    }
    .filterSufi {
      padding-right: 5px !important;
      padding-left: 5px !important;
    }
    .contentText h2 {
      color: #DD3542 !important;
    }
    #tagsFilters {
      grid-template-columns: repeat(3, 1fr);
    }
    .contenedorFiltros>div {
      font-size: 14px;
    }
  }
